# Telegram Bot
TELEGRAM_BOT_TOKEN=tu_token_aqui

# Google Calendar (Cuenta de servicio)
GOOGLE_CLIENT_EMAIL=tu_email_de_servicio@tu_proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=tu_calendario_id@google.com

# Puerto del servidor
PORT=3000
